<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APNSEnvironment</key>
	<string>$(APNS_ENVIRONMENT)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.apselabs.agentcompanion.weather</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Paceman</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Paceman</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>companion</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>agentcompanion</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAccessorySetupBluetoothNames</key>
	<array>
		<string>Omarchy Watch</string>
	</array>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string>7F510001-1B15-4F0D-B7A5-4CF3A2C98EE1</string>
	</array>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Connect your watch to receive agent updates on your wrist.</string>
	<key>NSCameraUsageDescription</key>
	<string>Scan a pairing invitation from your work computer.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Keep weather on your watch local as you travel, even when Paceman is closed.</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use your approximate location to show local weather on your watch.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
